body {
    font-family: 'Open Sans', sans-serif;
    background: #0c0b09;
    color: white;
}

a {
    color: #cda45e;
    text-decoration: none;
}

a:hover {
    color: #cda45e;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

body::-webkit-scrollbar {
    display: none;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #1a1814;
}